<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.SideProject.GALE.mapper.file.FileMapper">
		
	<insert id="Upload_Board" parameterType="java.util.Map">
		INSERT INTO file (board_number, origin_file_name, stored_file_name, order_number)
		VALUES
			<foreach item="item" collection="list" separator=",">
				(#{item.board_number}, #{item.origin_file_name}, #{item.stored_file_name}, #{item.order_number})
			</foreach>
	</insert>

	<insert id="Upload_Board_Review" parameterType="com.SideProject.GALE.model.file.FileReviewDto">
		INSERT INTO file_review (board_review_number, origin_file_name, stored_file_name, order_number)
		VALUES
		<foreach item="item" collection="list" separator=",">
			(#{item.board_review_number}, #{item.origin_file_name}, #{item.stored_file_name}, #{item.order_number} )
		</foreach>
	</insert>
	
	<select id="Download_Board_ImageData" parameterType="com.SideProject.GALE.model.file.FileDto" resultType="com.SideProject.GALE.model.file.FileDto">
		SELECT *
		FROM file
		WHERE
		board_number = #{board_number}
		AND order_number = #{order_number}
	</select>
	
	<select id="Download_Board_Review_ImageData" parameterType="com.SideProject.GALE.model.file.FileReviewDto" resultType="com.SideProject.GALE.model.file.FileReviewDto">
		SELECT *
		FROM file_review
		WHERE 
		board_review_number = #{board_review_number}
		AND order_number = #{order_number}
	</select>
	
	
	<insert id="Save_UserProfileImage" parameterType="com.SideProject.GALE.model.file.FileUserProfileDto">
		INSERT INTO file_userprofile (userid, filename, stored_filename, regdate)
		VALUES
		(#{userid}, #{filename}, #{stored_filename}, #{regdate})
		ON DUPLICATE KEY UPDATE
		filename = VALUES(filename),
		stored_filename = VALUES(stored_filename),
		regdate = VALUES(regdate);
	</insert>
	
	<select id="Read_UserProfile" parameterType="String" resultType="com.SideProject.GALE.model.file.FileUserProfileDto">
		SELECT *
		FROM file_userprofile
		WHERE
		userid = #{userId}
	</select>
	
	<delete id="Delete_UserProfileImage" parameterType="String">
		DELETE
		FROM file_userprofile
		WHERE userid = #{userid}
	</delete>
	
</mapper>