<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.SideProject.GALE.mapper.planner.PlannerMapper">
	<select id="GetPlannerIdx" parameterType="com.SideProject.GALE.model.planner.PlannerDto" resultType="Integer">
		SELECT idx
		FROM planner
		WHERE title = #{title} AND email = #{email} AND date_start = #{date_start} 
		AND date_end = #{date_end} AND regdate = #{regdate}
		ORDER BY idx DESC
		LIMIT 1
	</select>
	
	<select id="GetPlanner" parameterType="int" resultType= "com.SideProject.GALE.model.planner.PlannerDto">
		Select *
		FROM planner
		WHERE idx = #{idx}
	</select>


	<insert id="Write" parameterType="com.SideProject.GALE.model.planner.PlannerDto">
		INSERT INTO planner
		(email, title, date_start, date_end)
		VALUES
		#{email}, #{title}, #{date_start}, #{date_end}
	</insert>
	
	<insert id="WriteDetails" parameterType="java.util.List">
		INSERT INTO planner_details
		(planner_idx, select_category, select_idx, startdate, order)
		VALUES
		<foreach item="item" collection="list" separator=",">
			(#{item.planner_idx}, #{item.select_category}, #{item.select_idx}, #{item.startdate}, #{item.order})
		</foreach>
	</insert>
	
	<delete id="Delete" parameterType="int">
		DELETE FROM planner
		WHERE idx = #{idx}
	</delete>
	
</mapper>